In [1]:
import pandas as pd
from scipy import stats
df = pd.read_csv('data_2.csv',nrows=4, sep=";")
df

,Number of O-rings at risk on a given flight,Number experiencing thermal distress,Launch temperature (degrees F),Leak-check pressure (psi),Temporal order of flight
0,6,0,66,50,1
1,6,1,70,50,2
2,6,0,69,50,3
3,6,0,68,50,4

In [2]:
import scipy.spatial.distance as dist
import itertools

def minkowski(a, b, m):
    return sum(a)+sum(b)
dfvalues = df.values.tolist()
data = [
    ["v{}-v{}".format(a, b), 
     dist.minkowski(dfvalues[a], dfvalues[b], 1), 
     dist.minkowski(dfvalues[a], dfvalues[b], 2)] 
    for a, b in itertools.combinations(range(4), 2)
]
columns = ["set A-set B", 'Minkowski (M=1)', 'Minkowski (M=2)']
pd.DataFrame(data, columns=columns)

  set A-set B  Minkowski (M=1)  Minkowski (M=2)
0       v0-v1              6.0         4.242641
1       v0-v2              5.0         3.605551
2       v0-v3              5.0         3.605551
3       v1-v2              3.0         1.732051
4       v1-v3              5.0         3.000000
5       v2-v3              2.0         1.414214

In [3]:
numerical=[0,3]
categorical=[1,2,6,7]
binary=[4,5,8]
ordinal=[1,2]

# Jarak Numerik

In [4]:
def chordDist(v1,v2,jnis):
    jmlh=0
    normv1=0
    normv2=0
    for x in range (len(jnis)):
        normv1=normv1+(int(df.values.tolist()[v1][jnis[x]])**2)
        normv2=normv2+(int(df.values.tolist()[v1][jnis[x]])**2)
        jmlh=jmlh+(int(df.values.tolist()[v1][jnis[x]])*int(df.values.tolist()[v2][jnis[x]]))
    return ((2-(2*jmlh/(normv1*normv2)))**0.5)

In [5]:
from IPython.display import HTML, display
import tabulate
table=[
    ["Data"]+["Jarak"]+["Numeric"]+["Ordinal"]+["Categorical"]+["Binary"],
    ["v0-v1"]+[0]+["{:.2f}".format(chordDist(0,1,numerical))]+[0]+[0]+[0],
    ["v0-v2"]+[0]+["{:.2f}".format(chordDist(0,2,numerical))]+[0]+[0]+[0],
    ["v0-v3"]+[0]+["{:.2f}".format(chordDist(0,3,numerical))]+[0]+[0]+[0],
    ["v1-v2"]+[0]+["{:.2f}".format(chordDist(1,2,numerical))]+[0]+[0]+[0],
    ["v1-v3"]+[0]+["{:.2f}".format(chordDist(1,3,numerical))]+[0]+[0]+[0],
    ["v2-v3"]+[0]+["{:.2f}".format(chordDist(2,3,numerical))]+[0]+[0]+[0],
    
    ]

display(HTML(tabulate.tabulate(table, tablefmt='html')))